# macOS system files
.DS_Store

# Python virtual environment directory
.venv

# Python package artifacts
*.egg-info/

# Python cache directories and files
__pycache__/
.pytest_cache/

# Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables and secrets file
.env

# Generated data
data/raw/
data/processed/
data/chroma_db*