# macOS system files
.DS_Store

# Python virtual environment directory
.venv/

# Python package artifacts
*.egg-info/

# Python and testing cache
__pycache__/
*.pyc
.pytest_cache/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env

# Generated data
data/raw/
data/processed/
data/chroma_db_*