# macOS system files
.DS_Store

# Python virtual environment directories
.venv/
.venv_deploy/

# Python package artifacts
*.egg-info/

# Python and testing cache
__pycache__/
*.pyc
.pytest_cache/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env

# Dataset files
data/raw/
data/processed/

# Local evaluation files
data/evaluation/evaluation_questions_sauvegarde.json

# Test vector stores
data/chroma_db_*